.intro {
  padding: 0 5rem 0 5rem ;
  display: flex;
  margin-top: 6rem;
}

.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}

.i-name {
  display: flex;
  flex-direction: column;
}

.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Montserrat';
}

.i-name > :nth-child(2) {
  color: var(--darkblue);
  font-weight: bold;
  font-size: 3rem;
  color: #666666;
}

.i-name > :nth-child(3) {
  color: var(--grey);
  font-weight: 100;
  font-size: 16px;
  margin-top: 15px;
}

.i-button {
  width: 6rem;
  height: 2rem;
}

.imgs {
  width: 100px;
  height: 100%;
}

.i-icons {
  display: flex;
  gap: 0rem;
  float: left;
}

.i-icons > * {
  transform: scale(0.7);
}

.i-icons > :hover {
  cursor: pointer;
}

.i-right {
  flex: 1;
  position: relative;
}

.i-right > * {
  position: absolute;
  z-index: 1;
}

.i-right > :nth-child(1) {
  transform: scale(0.69);
  left: -15%;
  top: -9%;
}

.i-right > :nth-child(2) {
  top: -4.6rem;
  transform: scale(0.63);
  left: -3rem;
}

.i-right > :nth-child(3) {
  transform: scale(0.8);
  top: -140px;
  left: 50px;
}

.i-right > :nth-child(4) {
  transform: scale(0.6);
  top: -19%;
  left: -24%;
  border-radius: 50%;
  padding: 0;
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}

@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
    height: 60rem;
    gap: 7rem;
    padding: 15px;
  }
  .i-right {
    transform: scale(0.8);
    left: -3rem;
  }
  .i-right blur {
    display: none;
  }
  .floating-div:nth-of-type(1) {
    top: -8rem !important;
  }
  .i-name>:nth-child(1){
    font-family: 'Montserrat';
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: bolder;
  }
}
