.footer {
     display: flex;
     align-items: center;
     margin: -0.5rem -3.5rem;
     position: relative;
     margin-top: -7rem;
    
}

.f-content {
position: absolute;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 100%;
gap:1rem;
color: rgb(76, 76, 76);
/* margin-top: 20rem; */
}


.f-icon {
     display:flex;
     justify-content: center;
     gap: 10px;
}

.f-icon>a{
     color: grey;
}


.footer-copyright {
     font-size: 14px;
     margin-top: 5px;
}

@media screen and (min-width: 301px) and (max-width: 480px) {
     .f-content >:nth-child(1){
          margin-top: -40px;
          font-size: 18px;
          margin-bottom: -30px;
     }
     .f-icon {
          display: flex;
          gap:15px;
     }
     .f-content {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          margin-top: 6rem;
          gap:2rem;
          color: gray;
          }

          .f-btns{
               color: gray;
               font-size: 25px;
          }

          .f-btns-insta{
               color: gray;
               font-size: 25px;
          }

          
          .footer-copyright {
               font-size: 11px;
          }

}


@media screen and (min-width: 481px) and (max-width: 700px) {
     .f-content >:nth-child(1){
          margin-top: -40px;
          font-size: 18px;
          margin-bottom: -30px;
     }
     .f-icon {
          display: flex;
          gap:10px;
     }
     .f-content {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          margin-top: 6rem;
          gap:2rem;
          color: gray;
          }

          .f-btns{
               color: gray;
               font-size: 25px;
          }

          .f-btns-insta{
               color: gray;
               font-size: 25px;
          }

          
          .footer-copyright {
               font-size: 11px;
          }

}

@media screen and (min-width: 701px) and (max-width: 950px) {

     .f-content >:nth-child(1){
          margin-top: -40px;
          font-size: 18px;
          margin-bottom: -30px;
     }
     .f-icon {
          display: flex;
          gap:15px;
     }
     .f-content {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          margin-top: 9rem;
          gap:2rem;
          color: gray;
          }

          .f-btns{
               color: gray;
               font-size: 25px;
          }

          .f-btns-insta{
               color: gray;
               font-size: 25px;
          }

          .footer-copyright {
               font-size: 11px;
          }
}


@media screen and (min-width: 951px){
.f-content{
     margin: 9rem 0 0 0 ;
     color: gray;
}
}